{% extends "base.html" %}

{% block page_title %}
<title>Profile - {{user.name}}</title>
{% endblock %}
{% block profile_link %}
<a href="{% url 'user_profile' user.pk %}"
                   class="nav-link">
                    Profile
                </a>
{% endblock %}
{% block redemption_link %}
<a href="{% url 'user_profile_redemption' user.pk %}"
                   class="nav-link">
                    Redemption
                </a>
{% endblock %}
{% block promotion_link %}
<a href="{% url 'user_profile_promotion' user.pk %}"
                   class="nav-link">
                    Promotion
                </a>
{% endblock %}
{% block page_content %}
<div class="row"  style="padding: 25px 50px 0px 50px">
    <img src="/static/images/reddiamond.png" height = 50>
    <h1>{{ user.name }}</h1>

</div>
<div class="row" style="padding: 25px 50px 75px 75px">
    <div class="col-md-4">
        <h5>Username:</h5>
        <p>{{ user.username }}</p>
        <h5>Birthday:</h5>
        <p>{{ user.birthday }}</p>
        <h5>Address:</h5>
        <p>{{ user.address }}</p>
        <h5>Total Current Points:</h5>
        <p>{{ user.totalpoints }}</p>
        <h5>Total Points Earned:</h5>
        <p>{{ user.pointsearned }}</p>
    </div>
</div>
{% endblock %}